@import "izitoast/dist/css/iziToast.min.css";

@import "simplelightbox/dist/simple-lightbox.min.css";

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

}

.gallery-card {
  display: flex;
  width: 360px;
  flex-direction: column;
}
.gallery-img {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}
.gallery-container {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  padding: 4px 20px;
}
.gallery-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  font-size: 14px;
}
.gallery-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery-quantity {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.search-form {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-top: 36px;
}
.search-input {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  outline: none;
}
.search-input:hover,
.search-input:focus {
  border: 1px solid #000;
  background: #fff;
}

.search-input.input-typing{
  border: 1px solid #4e75ff;
  color: #2e2f42;
  background: #fff;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.search-btn:hover {
background: #6c8cff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3; /* Светлый цвет фона */
  border-top: 6px solid #4e75ff; /* Синий цвет, который будет вращаться */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}